:root {
  --con-footer: #38434c;
  --con-reference: #f5f9ff;
}

html {
  font-family: "Open Sans", ui-sans-serif, system-ui, sans-serif;
}

header {
  border-bottom: 1px solid rgb(var(--color-primary-200));
  background: rgb(255 255 255 / 96%);
}

header img {
  width: auto;
  max-height: 3.5rem;
}

footer {
  padding: 1.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  color: white;
  background: var(--con-footer);
}

footer a {
  color: white;
}

blockquote {
  padding: 1rem 1.25rem;
  border-left-color: rgb(var(--color-primary-500));
  background: var(--con-reference);
}
