---
title: {{ site.projects.title | json_string }}
layout: orinoco-taxonomy
url: {{ site.projects.route | json_string }}
aliases: {{ site.projects.aliases | json_string }}
params:
  list_variant: {{ site.projects.list_variant | json_string }}
  term: {{ site.projects.term | json_string }}
---

{{ site.projects.introduction }}
{% for category in site.projects.categories %}
## {{ category.title }}

{% for pid in category.projects %}- [{{ record_label(pid) }}]({{ record_ref(pid) }})
{% endfor %}{% endfor %}
