{
  "name": {{ site.webmanifest.name | json_string }},
  "short_name": {{ site.webmanifest.short_name | json_string }},
  "description": {{ site.webmanifest.description | json_string }},
  "start_url": {{ site.webmanifest.start_url | json_string }},
  "display": {{ site.webmanifest.display | json_string }},
  "background_color": {{ site.webmanifest.background_color | json_string }},
  "theme_color": {{ site.webmanifest.theme_color | json_string }},
  "icons": {{ site.webmanifest.icons | json_string }}
}
