_merge = "none"

{% for item in site.navigation.main %}[[main]]
name = {{ item.name | json_string }}
{% if item.get('page_ref') %}pageRef = {{ item.page_ref | json_string }}
{% elif item.get('url') %}url = {{ item.url | json_string }}
{% endif %}weight = {{ item.weight }}
[main.params]
{% if item.get('icon') %}icon = {{ item.icon | json_string }}
{% endif %}showName = {{ item.show_name | string | lower }}

{% endfor %}{% for item in site.navigation.footer %}[[footer]]
name = {{ item.name | json_string }}
{% if item.get('page_ref') %}pageRef = {{ item.page_ref | json_string }}
{% elif item.get('url') %}url = {{ item.url | json_string }}
{% endif %}weight = {{ item.weight }}
[footer.params]
{% if item.get('icon') %}icon = {{ item.icon | json_string }}
{% endif %}showName = {{ item.show_name | string | lower }}

{% endfor %}
