colorScheme = {{ site.theme.color_scheme | json_string }}
defaultAppearance = {{ site.theme.default_appearance | json_string }}
autoSwitchAppearance = {{ site.theme.auto_switch_appearance | string | lower }}
enableQuicklink = false

[header]
layout = {{ site.theme.header.layout | json_string }}
logo = {{ site.theme.header.logo | json_string }}
logoDark = {{ site.theme.header.logo_dark | json_string }}
showTitle = {{ site.theme.header.show_title | string | lower }}

[homepage]
layout = {{ site.theme.homepage.layout | json_string }}
showRecent = {{ site.theme.homepage.show_recent | string | lower }}

[article]
showDate = {{ site.theme.article.show_date | string | lower }}
showDateUpdated = {{ site.theme.article.show_date_updated | string | lower }}
showAuthor = {{ site.theme.article.show_author | string | lower }}
showBreadcrumbs = {{ site.theme.article.show_breadcrumbs | string | lower }}
showHeadingAnchors = {{ site.theme.article.show_heading_anchors | string | lower }}
showPagination = {{ site.theme.article.show_pagination | string | lower }}
showReadingTime = {{ site.theme.article.show_reading_time | string | lower }}
showTableOfContents = {{ site.theme.article.show_table_of_contents | string | lower }}
showTaxonomies = {{ site.theme.article.show_taxonomies | string | lower }}
