{{ $img := .img }}
{{ $alt := .alt }}
{{ $class := .class }}
{{ $lazy := .lazy }}
{{ $x2 := .x2 | default false }}

{{ with $img }}
  <picture {{ with $class }}class="{{ . }}"{{ end }}>
    {{ $width := "" }}
    {{ $height := "" }}
    {{ if ne .MediaType.SubType "svg" }}
      {{ $width = .Width }}
      {{ $height = .Height }}
      {{ if $x2 }}
        {{ $width = div .Width 2 }}
        {{ $height = div .Height 2 }}
      {{ end }}
    {{ end }}
    <img
      src="{{ .Permalink }}"
      {{ with $width }}width="{{ . }}"{{ end }}
      {{ with $height }}height="{{ . }}"{{ end }}
      {{ with $class }}class="{{ . }}"{{ end }}
      {{ with $alt }}alt="{{ . }}"{{ end }}
      {{ with $lazy }}loading="lazy" decoding="async"{{ end }}
    />
  </picture>
{{ end }}
