{% extends "page.md.j2" %}
{% block frontmatter -%}
title: "{{ title }}"
{% endblock -%}

{% block content -%}
{{ description }}

{% if part_of -%}Part of:
{% for item in part_of -%}
- [{{ item.title }}](/{{ item.pid.replace('xyzrins:', '') }})
{% endfor %}
{% endif -%}
{% endblock %}
