{% extends "page.md.j2" %}

{% block frontmatter -%}
title: {{ given_name }} {{ family_name }}
{% endblock -%}

{%- block frontmatter_params -%}
{%- set fields = ["given_name", "family_name", "identifiers", "description"] %}
{%- set p = {} %}
{%- for f in fields %}
  {%- if f in __rec and __rec[f] %}
    {%- set _ = p.update({f: __rec[f]}) %}
  {%- endif %}
{%- endfor %}
  {{ p | toyaml | indent(2) | trim }}
{% endblock -%}
