{% set section = site.navigation.sections.instruments -%}
---
title: {{ section.title | json_string }}
layout: orinoco-taxonomy
url: {{ section.route | json_string }}
aliases: {{ section.aliases | json_string }}
params:
  items: generated
  list_variant: {{ section.list_variant | json_string }}
  term: {{ section.term | json_string }}
---

{{ section.introduction }}
